/* header ------------------------ */
header {
	width: 100%;
	height: 70px;
	position: absolute;
	left: 0;
	top: 730px;
	background-color: rgba(249, 99, 50, 0.9);
	text-decoration: none;
	z-index: 1000;
}
header.fixed {
	position: fixed;
	left: 0;
	top: 0;
}
header ul {
	width: 700px;
	height: 70px;
	box-sizing: border-box;
	padding: 25px;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}
header ul li {
	float: left;
	margin-left: 20px;
}
header ul li a {
	color: #fff;
	text-decoration: none;
}

/* section  ------------------------ */
section {
	width: 100%;
	height: 800px;
	box-sizing: border-box;
	padding: 40px;
}
#top {
	background-color: #fff;
}
#top h1 {
	padding: 150px 0 0;
}
#about {
	background-color: #efefef;
}
#works {
	background-color: #f8f8f8;
}
#access {
	background-color: #efefef;
}
#contact {
	background-color: #f8f8f8;
}
section h1 {
	font-size: 64px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	padding: 80px 0 0;
}
.box {
	width: 300px;
	height: 300px;
	background-color: aquamarine;
	margin: 40px 0 40px;
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease;
	transform: translateY(100px);
}
.box.active {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}

/* footer  ------------------------ */
footer {
	background-color: #444;
}
.pagetop {
	text-align: right;
	padding: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}
.pagetop a:link,
.pagetop a:visited {
	text-decoration: none;
	color: #fff;
}
.papetop a:hover {
	text-decoration: none;
	color: #444;
}
