.container {
	width: 800px;
	height: 300px;
	position: relative;
	background-color: #ededed;
}

.btn {
	width: 200px;
	height: 40px;
	background-color: #ccc;
	border-radius: 10px;
	text-align: center;
	line-height: 2.5;
	cursor: pointer;
	margin: 12px;
}
.numBox {
	width: 200px;
	height: 40px;
	margin: 12px;
}

.btn1-wrap {
	width: 800px;
	display: flex;
}
.output {
	padding: 16px;
	color: #555;
	font-size: 24px;
}
